<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>Add Message</h1>
    <form method="post" action="/new">
      <label for="author">Your Name</label>
      <input id="author" name="messageUser" type="text" />

      <label for="message">Enter Message</label>
      <input id="message" name="messageText" type="text" />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
