<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= user %></h1>
    <ul>
      <% messages.map((message, index) => { %>
      <li>
        <h3><%= message.added %></h3>
        <h3><%= message.content %></h3>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
